services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: clinicas_user
      POSTGRES_PASSWORD: clinicas_pass
      POSTGRES_DB: Clinicas
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_DSN: host=db user=clinicas_user password=clinicas_pass dbname=Clinicas port=5432 sslmode=disable
    volumes:
      - .:/app
    command: ["./main"]

volumes:
  pgdata: