basePath: /
host: localhost:8080
info:
  contact: {}
  description: API para gestão de clínicas, procedimentos e agendamentos
  title: API Clínicas
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
