basePath: /
definitions:
  controllers.LoginRequest:
    properties:
      email:
        example: usuario@exemplo.com
        type: string
      senha:
        example: "123456"
        type: string
    required:
    - email
    - senha
    type: object
  controllers.LoginResponse:
    properties:
      token:
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        type: string
      usuario:
        $ref: '#/definitions/controllers.UsuarioInfo'
    type: object
  controllers.UsuarioInfo:
    properties:
      clinica_id:
        example: 1
        type: integer
      email:
        example: joao@exemplo.com
        type: string
      id:
        example: 1
        type: integer
      nome:
        example: João Silva
        type: string
      tipo_usuario_id:
        example: 1
        type: integer
    type: object
host: localhost:8080
info:
  contact: {}
  description: API para gestão de clínicas, procedimentos e agendamentos
  title: API Clínicas
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      description: Autentica um usuário e retorna um token JWT
      parameters:
      - description: Dados de login
        in: body
        name: login
        required: true
        schema:
          $ref: '#/definitions/controllers.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/controllers.LoginResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Login de usuário
      tags:
      - Autenticação
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
